body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
  margin-top: 20px;
  /* i added this */
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/*** CART ***/
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-container > h2 {
  color: red;
  padding: 15px;
}

.albums-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.card {
  margin: 20px;
  width: 200px !important;
}

.price {
  color: red;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.cart-btn-grp {
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}

.cart-btn:hover {
  cursor: pointer;
}

/*** CHECKOUT ***/
.row {
  display: flex;
  flex-direction: row;
}

.form-label {
  font-weight: bold;
  display: flex;
  min-width: 8em;
}

.mb-3 {
  display: flex;
  justify-content: space-evenly;
}

.checkout-btn-grp {
  display: flex;
  justify-content: center;
}

.checkout-select-grp {
  display: flex;
  flex-direction: row;
}

.checkout-btn-grp > .btn {
  margin: 0 1em;
}

.button-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;

  background: #6e6d70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #dfdedf;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/* All Albums  */

.album-title {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.allAlbums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.allAlbums-title {
  font-family: "tower";
  margin: 30px;
  margin-bottom: 10px;
  font-size: 40px;
}

/* Login */

.login-card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.login-card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.login-form {
  display: block;
}
