body {
  font-family: sans-serif;
}

a {
  text-decoration: none !important;
}

label {
  display: block;
  margin-top: 20px;
  /* i added this */
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}
/*** CART ***/
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-container > h2 {
  color: red;
  padding: 15px;
}

.albums-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.card {
  margin: 20px;
  width: 200px !important;
}

.price {
  color: #343a40;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.cart-btn-grp {
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}

.cart-btn:hover {
  cursor: pointer;
}

/*** CHECKOUT ***/
.row {
  display: flex;
  flex-direction: row;
}

.form-label {
  font-weight: bold;
  display: flex;
  min-width: 8em;
}

.mb-3 {
  display: flex;
  justify-content: space-evenly;
}

.checkout-btn-grp {
  display: flex;
  justify-content: center;
}

.checkout-select-grp {
  display: flex;
  flex-direction: row;
}

.checkout-btn-grp > .btn {
  margin: 0 1em;
}

.button-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  background: #6e6d70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #dfdedf;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/* All Albums  */

.album-title {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.allAlbums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;

  /* 
  background-color: #343a40; */
}

.allAlbums-title {
  font-family: 'tower';
  margin: 30px;
  margin-bottom: 10px;
  font-size: 40px;
}

/* SINGLE ALBUM */

.single-singleAlbum-container {
  display: flex;
}

.single-singleAlbum-tracks {
  flex-direction: column;
  justify-content: center;
}

.single-singleAlbum-description {
  justify-content: center;
  padding: 50px;
}

.singleImage {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.card-container {
  display: flex;
  justify-content: center;
  width: 80vw !important;
}

.singleAlbum-card.card {
  display: flex;
  width: 60% !important;
}

.card-body {
  width: 100%;
}

.card-img-top {
  width: 90px;
}

.singleAlbum-container {
  display: flex;
  justify-content: center;
}

/* Login */

.login-card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
  align-items: center;
}

.login-card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  max-width: 40%;
  align-items: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  align-self: auto;
}

.login-input > label {
  min-width: 4em;
}

.login-input > input {
  width: 100%;
}

.carousel {
  display: 'flex';
  /* margin: 100%; */
  align-items: center;
  max-width: 100%;
  height: auto;
}

.imgCarousel {
  max-width: 40%;
  max-height: auto;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
}

.navbar-brand > * {
  align-items: center;
}
/* Footer */

/* .container.footer {
  display: flex;
  align-items: center;
}

.text-white {
  padding: 7px;
  margin: 20px;
} */

/* ADMIN PAGES */
input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type='submit'] {
  width: 100%;
  background-color: #343a40;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type='submit']:hover {
  background-color: #343a41;
}

.add-album {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: center;
  display: flex;
}

.home {
  background-image: linear-gradient(to bottom, #fff, #343a40);
}

.dropdown-item > a {
  color: #343a40 !important;
}

a > h1 {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-nav > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5) !important;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.light-text {
  color: white;
}
